<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.albert.librarytest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LibraryTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".arch.ArchActivity" />
        <activity android:name=".dagger.DaggerDateActivity" />
        <activity android:name=".arch.room.RoomActivity" />

        <activity android:name=".rx.RxActivity" />
        <activity android:name=".rx.RxOperatorExampleActivity" />
        <activity android:name=".rx.SimpleExampleActivity" />
        <activity android:name=".rx.MapExampleActivity" />
        <activity android:name=".rx.ZipExampleActivity" />
        <activity android:name=".rx.DisposableExampleActivity" />
        <activity android:name=".rx.TakeExampleActivity" />
        <activity android:name=".rx.TimerExampleActivity" />
        <activity android:name=".rx.IntervalExampleActivity" />
        <activity android:name=".rx.SingleObserverExampleActivity" />
        <activity android:name=".rx.CompletableObserverExampleActivity" />
        <activity android:name=".rx.FlowableExampleActivity" />
        <activity android:name=".rx.ReduceExampleActivity" />
        <activity android:name=".rx.BufferExampleActivity" />
        <activity android:name=".rx.FilterExampleActivity" />
        <activity android:name=".rx.SkipExampleActivity" />
        <activity android:name=".rx.ScanExampleActivity" />
        <activity android:name=".rx.ReplayExampleActivity" />
        <activity android:name=".rx.ConcatExampleActivity" />
        <activity android:name=".rx.MergeExampleActivity" />
        <activity android:name=".rx.DeferExampleActivity" />
        <activity android:name=".rx.DistinctExampleActivity" />
        <activity android:name=".rx.LastOperatorExampleActivity" />
        <activity android:name=".rx.ReplaySubjectExampleActivity" />
        <activity android:name=".rx.PublishSubjectExampleActivity" />
        <activity android:name=".rx.BehaviorSubjectExampleActivity" />
        <activity android:name=".rx.AsyncSubjectExampleActivity" />
        <activity android:name=".rx.ThrottleFirstExampleActivity" />
        <activity android:name=".rx.ThrottleLastExampleActivity" />
        <activity android:name=".rx.DebounceExampleActivity" />
        <activity android:name=".rx.WindowExampleActivity" />
        <activity android:name=".rx.DelayExampleActivity" />
        <activity android:name=".rx.SwitchMapExampleActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_io_id}"
            />

    </application>

</manifest>